body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* systle for homepage */
 .App {
  /* background-color: #2E4D5C; */
  background-image: linear-gradient(#97ACB7, #6B8999, #2E4D5C);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: #E7F6F2;
  vertical-align: top;

}

.App-link {
  color: #61dafb;
}

a {
color: #E7F6F2;
text-decoration: none;
font-family: 'Allerta Stencil';

}
.nav-link { 
font-size: 25px;

}

 a:hover {
  color: #F07DEA;
  transition: 0.8s;
 }

 .home-text {
  font-size: 20px;
  text-align: left;
  font-family: 'Abel';
 }
 .header{
  position: fixed;
  top:0;
  
 }

 /* footer styel */
 footer {
  font-size: 15px;
  text-align: left;
  font-family: 'Abel';
  text-align: center;
  position: fixed;
  bottom: 0;
 }